:root {
    --light-bg: #f8f8f8;
    --dark-bg: #c8c8c8;
    --border-color: #c0c0c0
}

body {
    font-family: sans-serif;
}

#root {
    margin: 0 auto;
    width: 100%;
}

#titleHolder {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#cellHolder {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 1.5rem;
    position: absolute;
    left: 0;
    width: 80%;
}

#infoBox {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#payBox {
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    margin-top: 5rem;
}

#logBox {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 20%;
    padding: 0.5rem;
}

#logBox .logLineBox {
    background: var(--light-bg);
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
    box-shadow: -2px 2px 2px #ccc;
    text-align: left;
    font-family: monospace;
    font-size: small;
}
.logLineBox p {
    margin: 1rem;
}

p.error {
    color: #800000;
}

p.warning {
    color: #908000
}

p.healthy {
    color: #008000
}

.title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.subtitle {
    font-family: cursive;
    font-style: italic;
}

p.info {
    text-align: center;
    font-family: monospace;
    font-weight: lighter;
}

.outerCell {
    box-sizing: border-box;
    margin: 0.2rem;
    text-align: center;
    max-width: 10rem;
    min-width: 10rem;
    max-height: 12rem;
    /* background: #f8f8f8; */
}

.outerCell p {
    margin: 0.2rem 0;
}

.controlBox {
    box-sizing: border-box;
    padding: 0.2rem;
    background: var(--dark-bg);
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
}

.outerCell .innerCell {
    box-sizing: border-box;
    padding: 0.2em;
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
    height: 10rem;
}

.checkboxHolder {
    display: flex;
    padding: 0.1rem;
    bottom: 0;
    position: relative;
    max-height: 2rem;
}

.checkboxHolder {
    font-size: smaller;
    font-family: monospace;
    font-weight: bolder;
}

.innerCell.hasAppt {
    background: #d0f0d0;
}

.apptDate {
    font-size: larger;
    font-weight: bold;
}

.myButton {
    font-size: larger;
    font-family: monospace;
    font-weight: bolder;
    text-decoration: none;
    box-shadow: 2px -2px 2px #ccc;
}

.myButton.grabLink {
    background: #a0e8a0;
}

.myButton.payLink {
    background: #c0c0e8;
}
